body{
  width: 80%;
  min-height: 60;
}
.container{
       width: 40%;
       min-height: 60;
        padding:3px;
        border: 0px solid black;
        margin-left:  10%;
        

}

.container.input type{
        width:10%
}