
body{
  padding: 0;
}
.head{
  width: 100%;
  padding: 20px;
  background: #fff;
  min-height: 100px;

}

.logo{
font-size: 30px;
float: left;
padding: 1% 0 0 1%;

}

.logo {
  padding: 0; 
  margin: 0;
}

.menu {
  float: right;
}

.menu ul{
   margin: 0; list-style: none;
   padding-top: 1px;

}

.menu ul li a {
    display: block;
    padding-bottom: 20%;
    padding-top: 1px;
    margin-right: 40px;
    text-decoration: none;;
}

.p{
  font-family: 'poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;

}

a, a :hover,a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

#sidebar {
  background: #7386D5;
  color: #fff;
  transition: all 0.3s;
  width: 200px;
  min-height: 100px;
  padding-bottom: 5%;
  padding-top: 3%;
  margin-bottom: 2px;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #6d7fcc;

}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #47748b;

}

#sidebar ul p {
  color: blue;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li aa:hover {
  color: #7386d5;
  background: #fff;
}